/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #a82a00;
  --ifm-color-primary-dark: #972600;
  --ifm-color-primary-darker: #8f2400;
  --ifm-color-primary-darkest: #761d00;
  --ifm-color-primary-light: #b92e00;
  --ifm-color-primary-lighter: #c13000;
  --ifm-color-primary-lightest: #da3700;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ff855c;
  --ifm-color-primary-dark: #ff6b39;
  --ifm-color-primary-darker: #ff5e28;
  --ifm-color-primary-darkest: #f33d00;
  --ifm-color-primary-light: #ff9f7f;
  --ifm-color-primary-lighter: #ffac90;
  --ifm-color-primary-lightest: #ffd3c4;
}
